.counter {
  text-align: center;
  padding: 20px;
  border: 2px solid #000;
}

.counter-number {
  font-size: 50px;
  margin-bottom: 10px;
}

.counter-button,
.countDown-button-auto {
  font-size: 16px;
  padding: 10px 20px;
  border: 0;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.counter-button:hover,
.countDown-button-auto:hover {
  opacity: 0.8;
  transition: opacity 0.25s;
}

.countDown-button {
  margin-top: 10px;
}

.countDown-button button {
  background-color: #0a0;
  color: #fff;
}

